@{
  Layout = "_Layout";
}

@model GameStore.Models.Employee;

<h2>Employee Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.EmployeeName): @Html.DisplayFor(model => model.EmployeeName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This employee does not contain any customers</p>
}
else
{
  <h4>Customers the employee contains:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{join.Customer.CustomerName}", "Details", "Customers", new {id = join.Customer.CustomerId}, null)</li>
  }
  </ul>
}

<div id="footer">
<button>@Html.ActionLink("Back to employees", "Index")</button>
<button>@Html.ActionLink("Edit Employee", "Edit", new { id = Model.EmployeeId })</button>
<button>@Html.ActionLink("Delete Employee", "Delete", new { id = Model.EmployeeId })</button>
</div>