@{
  Layout = "_Layout";
}

@model GameStore.Models.Employee

<h2>Edit</h2>

<h4>Edit this employee: @Html.DisplayFor(model => model.EmployeeName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EmployeeId)

  @Html.LabelFor(model => model.EmployeeName)
  @Html.EditorFor(model => model.EmployeeName)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>