@{
  Layout = "_Layout";
}

@model GameStore.Models.Employee;

<h2>Employee Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This employee does not contain any customers</p>
}
else
{
  <h4>Customers the employee contains:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Customer.Description</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to employees", "Index")</p>
<p>@Html.ActionLink("Edit Employee", "Edit", new { id = Model.EmployeeId })</p>
<p>@Html.ActionLink("Delete Employee", "Delete", new { id = Model.EmployeeId })</p>