@{
  Layout = "_Layout";
}

@model GameStore.Models.Customer

<h2>Add an employee</h2>

<h4>Add an employee to this customer: @Html.DisplayFor(model => model.CustomerName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CustomerId)

  @Html.Label("Select employee")
  @Html.DropDownList("EmployeeId")

  <input type="submit" value="Save" />
}
<div id="footer">
<button>@Html.ActionLink("Back to list", "Index")</button>
</div>