@{
  Layout = "_Layout";
}

@model GameStore.Models.Customer

<h4>Add a new customer</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.CustomerName)
  @Html.TextBoxFor(model => model.CustomerName)

  @Html.Label("Select employee")
  @Html.DropDownList("EmployeeId")

  <input type="submit" value="Add new customer" class="btn btn-default" />
}
<div id="footer">
<button>@Html.ActionLink("Show all customers", "Index")</button>
</div>