@{
  Layout = "_Layout";
}

@model GameStore.Models.Customer

<h2>Customer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.CustomerName): @Html.DisplayFor(model => model.CustomerName)</h3>
@* <h3>@Html.DisplayNameFor(model => model.Completed): @Html.DisplayFor(model => model.Completed)</h3> *@

@if(@Model.JoinEntities.Count == 0)
{
  <p>This customer does not belong to any employees</p>
}
else
{
  <h4>Employees the customer belongs to:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{join.Employee.EmployeeName}", "Details", "Employees", new { id = join.Employee.EmployeeId }, null)</li>
    @using (Html.BeginForm("DeleteEmployee", "Customers"))
    {
      @Html.Hidden("joinId", @join.CustomerEmployeeId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

@if(@Model.JoinCustomerGame.Count == 0)
{
  <p>This customer has not checked out any games.</p>
}
else
{
  <h4>Games checked out to the customer</h4>
  <ol>
  @foreach(var join in Model.JoinCustomerGame)
  {
    @if(!join.Returned)
    {
        <li>@Html.ActionLink($"{join.Game.GameName}", "Details", "Games", new { id = join.Game.GameId }, null)</li>
      @using (Html.BeginForm("ReturnGame", "Customers"))
      {
        @Html.Hidden("joinId", @join.CustomerGameId)
        @Html.Hidden("gameId", @join.GameId)
        <input type="submit" value="Return"/>
      }
    }
  }
  </ol>

  <h4>Game Checkout History</h4>
  <ol>
    @foreach(var join in Model.JoinCustomerGame)
    {
      @if(join.Returned)
      {
          <li>@Html.ActionLink($"{join.Game.GameName}", "Details", "Games", new { id = join.Game.GameId }, null)</li>
      }
    }
  </ol>
}
<div id="footer">
  <button  class="bottom">@Html.ActionLink("Back to list", "Index")</button>
  <button  class="bottom">@Html.ActionLink("Add an Employee", "AddEmployee", new { id = Model.CustomerId })</button>
  <button  class="bottom">@Html.ActionLink("Edit Customer", "Edit", new { id = Model.CustomerId })</button>
  <button  class="bottom">@Html.ActionLink("Delete Customer", "Delete", new { id = Model.CustomerId })</button>
</div>