@{
  Layout = "_Layout";
}

@model GameStore.Models.Customer

<h2>Customer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.CustomerName): @Html.DisplayFor(model => model.CustomerName)</h3>
@* <h3>@Html.DisplayNameFor(model => model.Completed): @Html.DisplayFor(model => model.Completed)</h3> *@

@if(@Model.JoinEntities.Count == 0)
{
  <p>This customer does not belong to any employees</p>
}
else
{
  <h4>Employees the customer belongs to:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Employee.EmployeeName</li>
    @using (Html.BeginForm("DeleteEmployee", "Customers"))
    {
      @Html.Hidden("joinId", @join.CustomerEmployeeId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

@if(@Model.JoinCustomerGame.Count == 0)
{
  <p>This customer has not checked out any games.</p>
}
else
{
  <h4>Games checked out to the customer</h4>
  <ul>
  @foreach(var join in Model.JoinCustomerGame)
  {
    <li>@join.Game.GameName</li>
    @using (Html.BeginForm("DeleteGame", "Customers"))
    {
      @Html.Hidden("joinId", @join.CustomerGameId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Add a Employee", "AddEmployee", new { id = Model.CustomerId })</p>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Customer", "Edit", new { id = Model.CustomerId })</p>
<p>@Html.ActionLink("Delete Customer", "Delete", new { id = Model.CustomerId })</p>