@{
  Layout = "_Layout";
}

@model GameStore.Models.Customer

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.CustomerName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CustomerId)

  @Html.LabelFor(model => model.CustomerName)
  @Html.EditorFor(model => model.CustomerName)

  @Html.Label("Select employee")
  @Html.DropDownList("EmployeeId")

  <input type="submit" value="Save" />
}
<div id="footer">
  <button  class="bottom">@Html.ActionLink("Back to list", "Index")</button>
</div>